
{% extends "@App/layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}
    Testo kūrimas
{% endblock %}
{% block body %}

    <div style="margin: 20px 20px;">
        {{ form_start(form) }}
        {# render the task's only field: description #}
        {{ form_row(form.name) }}
        {{ form_row(form.description) }}

        <h3>Klausimai</h3>
        <ul class="questions" data-prototype="{{ form_widget(form.questions.vars.prototype)|e('html_attr') }}">
            {# iterate over each existing tag and render its only field: name #}
            {% for question in form.questions %}
                <li>{{ form_row(question.question) }}</li>


                <ul class="answers" data-prototype="{{ form_widget(question.answers.vars.prototype)|e('html_attr') }}">
                    {#iterate over each existing tag and render its only field: name #}
                    {% for answer in question.answers %}
                        <li>{{ form_row(answer.text) }}</li>

                    {% endfor %}
                </ul>

            {% endfor %}
        </ul>
        {{ form_end(form) }}
    </div>

    <script>
        var $collectionHolder;

        // setup an "add a tag" link
        var $addQLink = $('<a href="#" class="add_question_link">Pridėti klausimą</a>');
        var $addALink = $('<a href="#" class="add_answer_link">Pridėti atsakymą</a>');

        var $newQLinkLi = $('<li></li>').append($addQLink);
        var $newALinkLi = $('<li></li>').append($addALink);

        jQuery(document).ready(function() {
            $collectionHolder = $('ul.questions');
            $collectionHolder.append($newQLinkLi);

            $collectionHolder.data('index', $collectionHolder.find(':input').length);

            $addQLink.on('click', function(e) {
                e.preventDefault();
                addTagForm($collectionHolder, $newQLinkLi);
            });
        });

        function addTagForm($collectionHolder, $newLinkLi) {
            var prototype = $collectionHolder.data('prototype');
            var index = $collectionHolder.data('index');

            var newForm = prototype.replace(/__q_name__/g, index);
            $collectionHolder.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $newLinkLi.before($newFormLi);

            console.log($newFormLi, index);
            addAnswerLink($newFormLi, index);
        }

        function addAnswerLink($questionForm, index)
        {
            var $aDiv = $questionForm.find('#form_questions_'+index+'_answers');
            $aDiv.append($newALinkLi.clone());
            $aDiv.data('index', $aDiv.find(':input').length);

            var $aLink = $aDiv.find('.add_answer_link');

            $aLink.on('click', function(e) {
                e.preventDefault();
                addAnswerForm($aDiv, $aLink);
            });
        }

        function addAnswerForm($aDiv, $aLink)
        {
            var prototype = $aDiv.data('prototype');

            var index = $aDiv.data('index');


            var newForm = prototype.replace(/__a_name__label__/g, 'Atsakymas');
            newForm = newForm.replace(/__a_name__/g, index);

            $aDiv.data('index', index + 1);

            var $newFormLi = $('<li></li>').append(newForm);
            $aLink.before($newFormLi);
        }

    </script>
{% endblock %}