{% extends "::base.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 96px;
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .search {


        }

        h2 {
            color: forestgreen;

        }
    </style>

{% endblock %}

{% block body %}
    <div class="title" style="padding :10px">Testuokis</div>
    <div class="container">

        <div class="row search">

            <form action="" method="post">
                <div style="margin: 40px 20px;">
                    {{ form_start(form) }}


                    <input class="col-lg-10 col-md-10 col-sm-12 col-xs-12" id="search" name="search" required="required" type="search">
                    <button class="col-lg-2 col-md-2 col-sm-12 col-xs-12" type="button"><span class="glyphicon glyphicon-search"></span></button>
                    <a href="{{ path('search') }}" style="float: right;"><span style="color: green;">Naršyti visus testus</span></a>
                    {{ form_end(form) }}
                </div>


            </form>
        </div>
        <div class="row" style="padding: 20px 20px;">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Pop/Demo</h2>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h2>Nauji</h2>
            </div>
        </div>
    </div>

{% endblock %}
