{% extends "::base.html.twig" %}

{% block title %}Testai{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href={{ asset('bundles/app/style/search.css') }} />
    <link href='http://fonts.googleapis.com/css?family=Oleo+Script' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href={{ asset('bundles/app/style/home/popNewTestStyle.css') }} />
{% endblock %}

{% block body %}
    <div class="container">

        <h2 class="title titleL">{{ title }}</h2>
        <div>
            {% if tests is empty %}
                <h4>Nėra testų</h4>
            {% else %}

                <ol id="user-list-div" class="rectangle-list">
                    {% for test in tests %}
                        <li id="user-table">

                            <a class="w3-tooltip" href="{{ path('test-start',{tid: test.id }) }}">{{ test.name }}
                                <span class="w3-text w3-tag description">Aprašymas: {{ test.description }}</span>
                            </a>

                        </li>
                    {% endfor %}

                </ol>

            {% endif %}
        </div>


    </div>
    <script src="{{ asset('bundles/app/style/home/onPopNewTestResize.js') }}"></script>
{% endblock %}
