{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('bundles/app/style/search.css') }} />
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="title" style="padding :10px; text-align: center">
            <h2 style="color:greenyellow">Testai</h2>
        </div>

        <div >
        {% include "AppBundle:Home:breadcrumb.html.twig" %}
        <ol class="rectangle-list">
            {% for test in tests %}
                <li>

                        <a href="{{ path('search') }}/{{ test.id }}">
                            {{ test.name }}<span style="padding: 20px;"></span>{{ test.description }}
                        </a>

                </li>
            {% endfor %}

        </ol>
        </div>

    </div>

{% endblock %}
