{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href={{ asset('bundles/app/style/search.css') }} />
    <link rel="stylesheet" href={{ asset('bundles/app/style/pagination.css') }} />
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merienda+One' rel='stylesheet' type='text/css'>
<style>
    .titleH {
        font: 400 100px/1.2 'Merienda One', Helvetica, sans-serif;
        color: rgba(0,0,0,0.7);
        text-shadow: 3px 3px 3px #fff;
        color:#21c221;
    }

</style>
{% endblock %}

{% block body %}
    <div class="container">

        <div class="title titleH" style="color:greenyellow;text-align: center; padding :10px">Testai</div>

        <div >
        {% include "AppBundle:Home:breadcrumb.html.twig" %}
            <div class="col-lg-6" >
                <div class="input-group">
                    <input type="text" class="form-control" id="search-field" placeholder="ieškoti testo pavadinimo">
                    <span class="input-group-btn">
                    <button class="btn btn-default" type="button">Ieškoti!</button>
                    </span>
                </div>
            </div>
            <div style="margin-top: 50px">
                <div id="list">

                </div>
            {% include "AppBundle:Home:list.html.twig" %}
            </div>
        </div>



    </div>
<script>
    $(function(){
        console.log('desperate for');

        var searchField = $('#search-field');
        var userTable = $('#user-table');
        var userListDiv = $('#user-list-div');
        var userPagination = $('.pagination');
        var list=$('#list');
        searchField.keyup(function(evt){
            console.log($(this).val());

            $.ajax({
                url: '{{ path('search') }}',
                method: "POST",
                data: "id=" + $(this).val() ,
                dataType: 'html',
                success: function(result, request) {

                    var parsedData =JSON.parse(result);
                    console.log(parsedData);
                    if(parsedData.status ==='success'){
                        console.log('hete');
                        userListDiv.empty();
                        userPagination.empty();
                        //userListDiv.html(parsedData.data);
                        list.empty();
                        list.html(parsedData.data);
                    }else{
                        //handle no result case
                    }
                }
            });
        });
    });



</script>
{% endblock %}
