{% extends "::base.html.twig" %}

{% block title %}Homepage - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href={{ asset('bundles/app/style/search.css') }} />
    <link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>

{% endblock %}

{% block body %}
    <div class="container">
        <div class="title" style="padding :10px; text-align: center">
            <h1 style="color:greenyellow; font-family: Great Vibes; font-size: 110px">Testai</h1>
        </div>

        <div >
        {% include "AppBundle:Home:breadcrumb.html.twig" %}
        <ol class="rectangle-list">
            {% for test in tests %}
                <li>

                        <a class="w3-tooltip" href="{{ path('search') }}/{{ test.id }}">
                            {{ test.name }}
                            <span style="position:absolute;left: -40px;bottom: 30px;background: black;" class="w3-text w3-tag">Aprašymas: {{ test.description }}</span>
                        </a>

                </li>
            {% endfor %}

        </ol>
        </div>

    </div>

{% endblock %}
