<!-- Sidebar -->

<div id="sidebar-wrapper" class="">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">

            <a href="{{ path('adminHome') }}">
                Testuok! Admin
            </a>



        </li>
        <li>
            {% if app.user.username is defined %}
                <p>{{ app.user.username }}</p>
            {% endif %}
        </li>
        <li>
            <a class="" href="{{ path('homepage') }}"><span class="">Pagrindinis</span></a>
        </li>
        <li>
            <a class="navig" href="{{ path('users') }}"><span class="navigSpan">Vartotojai</span></a>
        </li>
        <li>
            <a class="navig" href="{{ path('tests') }}"><span class="navigSpan">Testai</span></a>
        </li>

    </ul>
    <script type="text/javascript" >


        /*var pagename= location.pathname.split('/').pop();
        var pageNameSecondLast = location.pathname.split('/')[location.pathname.split('/').length-2];
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {

                if(pagename==""){

                    $('.navig').removeClass('active');
                    $('.navigSpan').removeClass('active');
                }
                else if (pagename=="user" || pagename=="userByEmailDESC" || pagename=="userByEmailASC" || pageNameSecondLast=="user"){
                    $('.navig').removeClass('active');
                    $('.navig').eq(0).addClass('active');
                    $('.navigSpan').removeClass('active');
                    $('.navigSpan').eq(0).addClass('active');
                }
                else if (pagename=="tests" || pageNameSecondLast=="tests"){
                    $('.navig').removeClass('active');
                    $('.navig').eq(1).addClass('active');
                    $('.navigSpan').removeClass('active');
                    $('.navigSpan').eq(1).addClass('active');
                }

            }
        };*/

        var pageNameSplitArr = location.pathname.split('/');
        document.onreadystatechange = function () {

            if (document.readyState == "complete") {
                for (var i=0; i<=location.pathname.split('/').length;i++){
                    if (pageNameSplitArr[i] == "user" || pageNameSplitArr[i] == "userByEmailDESC" || pageNameSplitArr[i] == "userByEmailASC") {
                        $('.navig').removeClass('active');
                        $('.navig').eq(0).addClass('active');
                        $('.navigSpan').removeClass('active');
                        $('.navigSpan').eq(0).addClass('active');
                    }
                    else if (pageNameSplitArr[i] == "tests") {
                        $('.navig').removeClass('active');
                        $('.navig').eq(1).addClass('active');
                        $('.navigSpan').removeClass('active');
                        $('.navigSpan').eq(1).addClass('active');
                    }

                }


            }
        };



    </script>
</div>
