{% extends "@App/Admin/base.html.twig" %}

{% block title %}Vartotojai - {{ parent() }}{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}

    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ asset('bundles/app/style/admin/simple-sidebar.css') }} />
    <style>
    td{
        padding-bottom: 5px;
        padding-right: 10px;
    }
    </style>

{% endblock %}
{% block body %}
    <div id="wrapper">

        {% include "AppBundle:Admin:header.html.twig" %}

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <table class="table">
                            <tr>
                                <td>id</td>
                                <td>
                                    <a href="{{ path('usersbyEmailASC') }}">
                                        <button class="glyphicon glyphicon-arrow-up"></button>
                                    </a>
                                    <a href="{{ path('usersbyEmailDESC') }}">
                                        <button class="glyphicon glyphicon-arrow-down"></button>
                                    </a>
                                    el paštas
                                </td>
                                <td>rolės</td>
                            </tr>

                        {% for user in users %}
                            <tr >
                                <td>{{ user.id }}</td><td><a href="{{ path('users') }}/{{ user.id }}">{{ user.email }}</a> </td>
                                <td>
                                    {% for role in user.roles %}
                                    {{ role }}
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endfor %}
                        </table>
                        <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ asset('bundles/app/style/admin/jquery.js') }}"></script>


    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function(e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>




{% endblock %}
