{% extends "@App/Admin/base.html.twig" %}

{% block title %}Vartotojai - {{ parent() }}{% endblock %}

{% block stylesheets %}

    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}

    <!-- Custom CSS -->
    <link rel="stylesheet" href={{ asset('bundles/app/style/admin/simple-sidebar.css') }} />
    <link rel="stylesheet" href={{ asset('bundles/app/style/admin/tests.css') }} />
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
<style>



</style>
{% endblock %}
{% block body %}
    <div id="wrapper">

        {% include "AppBundle:Admin:header.html.twig" %}

        <!-- Page Content -->
        <div id="page-content-wrapper">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <a  href="#menu-toggle" id="toggle"><span></span></a>
                        <h2>Testai</h2>
                        <div>
                            <input  type="text" id="myInput" onkeyup="myFunction()" placeholder="Ieškoti pagal el paštą" title="Type in a name" style="color:black">
                            <a href="{{ path('usersbyEmailASC') }}" style="color:black">
                                <button class="glyphicon glyphicon-arrow-up"></button>
                            </a>
                            <a href="{{ path('usersbyEmailDESC') }}" style="color:black">
                                <button class="glyphicon glyphicon-arrow-down"></button>
                            </a>
                        </div>
                        <ol class="rectangle-list">

                            {% for user in users %}

                                <li class="users">
                                    <a class="w3-tooltip" href="{{ path('userAction', {id: user.id}) }}">
                                        <span style="position:absolute;left: -40px;bottom: 30px;background: black;" class="w3-text w3-tag">Id {{ user.id }}
                                            Rolės {% for role in user.roles %}
                                                {{ role }}
                                                 {% endfor %}
                                        </span>
                                        <span class="userEmail">{{ user.email }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ol>

                    </div>
                </div>
            </div>
        </div>
        <div>
            <ol>
                {% if app.request.attributes.get('_route') == 'usersbyEmailASC' %}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('usersbyEmailASC', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('usersbyEmailASC', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('usersbyEmailASC', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                {% elseif app.request.attributes.get('_route') == 'usersbyEmailDESC' %}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('usersbyEmailDESC', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('usersbyEmailDESC', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('usersbyEmailDESC', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                {% else %}
                    <li {{ thisPage == 1 ? 'class="disabled"' }}>
                        <a href="{{ path('users', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                    </li>

                    {# Render each page number #}
                    {% for i in 1..maxPages %}
                        <li {{ thisPage == i ? 'class="active"' }}>
                            <a href="{{ path('users', {page: i}) }}">{{ i }}</a>
                        </li>
                    {% endfor %}

                    {# `»` arrow #}
                    <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                        <a href="{{ path('users', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                    </li>
                {% endif %}


            </ol>
        </div>


        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ asset('bundles/app/style/admin/jquery.js') }}"></script>
    <script>
        function myFunction() {
            var input, filter, table, tr, td, i;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementsByClassName("myTableContent");
            tr = document.getElementsByClassName("users");
            for (i = 0; i < tr.length; i++) {
                var text=$('li.users a span.userEmail:eq('+i+')').text();
                //alert(text);
                console.log(tr.length + " " +i);
                td = tr[i].getElementsByTagName("a");
                if (true) {
                    if (text.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
{% endblock %}
