{% extends "::base.html.twig" %}

{% block title %}Profilis{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>



        h2 {
            color: forestgreen;

        }

        .icon-bar {
            color: black;
            background-color: black;
        }

        .active {
            background-color: greenyellow;
        }
    </style>
    <link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">

{% endblock %}

{% block body %}


    <!-- Header -->
    <header class="w3-container" id="portfolio">
        <h1><b>Profilis</b></h1>
        <h5 style="float: right"><a href="{{ path('fos_user_security_logout') }}">Atsijungti</a></h5>


        <div class="w3-section w3-bottombar w3-padding-16 col-md-12 col-sm-12 col-xs-12 ">



            <div class="" id="myNavbar">


                <a href="{{ path('profile') }}">
                    <button class="nvBtn btn col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-universal-access w3-margin-right"></i>
                        Informacija
                    </button>
                </a>
                <a href="{{ path('user.tests') }}">
                    <button class="nvBtn btn col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-book w3-margin-right"></i>
                        Testai
                    </button>
                </a>
                <a href="{{ path('changePassword') }}">
                    <button class="nvBtn btn col-md-4 col-sm-12 col-xs-12">
                        <i class="fa fa-user w3-margin-right"></i>
                        Slaptažodžio keitimas
                    </button>
                </a>


            </div>


        </div>


    </header>
    {% block content %}{% endblock %}

    <script type="text/javascript">

        var pagename = location.pathname.split('/').pop();
        document.onreadystatechange = function () {
            if (document.readyState == "complete") {

                if (pagename == "") {

                    $('.nvBtn').removeClass('active');
                    $('.nvBtn').first().addClass('active');
                }
                else if (pagename == "changePassword") {
                    $('.nvBtn').removeClass('active');
                    $('.nvBtn').eq(2).addClass('active');
                }
                else if (pagename == "tests") {
                    $('.nvBtn').removeClass('active');
                    $('.nvBtn').eq(1).addClass('active');
                }

            }
        };


    </script>


{% endblock %}
