{% extends "@App/Profile/heading.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href={{ asset('bundles/app/style/pagination.css') }} />
{% endblock %}
{% block content %}

    {% if message|length > 0 %}
        <div class="row">
            <div class="col-xs-6 col-xs-offset-3 text-center">
                <h3>Testų istorija tuščia</h3>
            </div>
        </div>
    {% else %}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>Pavadinimas</th>
                <th>Klausimų kiekis</th>
                <th style="width: 20px">Rezultatas</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for i in 0..tests|length-1 %}
            <tr>
                <th scope="row">{{ i+1 }}</th>
                <td>{{ tests[i].name }}</td>
                <td>{{ tests[i].questionsLimit }}</td>
                <td>{{ results[i] }}</td>
                <td style="width: 20px"><a href="{{ path('test-answers', {'tid' : tests[i].id, 'qid' : 1, 'hash' : hashes[i]}) }}" class="btn btn-success">Peržiūrėti rezultatus</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if tests|length > 0 %}
            <ol class="pagination" style="padding-top: 20px">
                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('profile-test-results', {page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('profile-test-results', {page: i}) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a href="{{ path('profile-test-results', {page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
                </li>
            </ol>
        {% endif %}
    {% endif %}

{% endblock %}
