
{% extends "@App/Profile/heading.html.twig" %}

{% block content %}

    <div style="margin: 30px 20px;">
        <a href="{{ path('tests') }}">Atgal</a>
        <a href="{{ path('user.test.add.question', {'id': test.id}) }}">Pridėti klausimą</a>
        <a href="{{ path('edit_user_test', {'id': test.id}) }}">Keisti testą</a>
        <table>
            <tr>
                <td>
                    Pavadinimas
                </td>
                <td>
                    Aprašymas
                </td>
            </tr>
            <tr>
                <td>
                    {{ test.name }}
                </td>
                <td>
                    {{ test.description }}
                </td>
            </tr>
        </table>
        <ol>
            {% for question in questions %}
                <li>
                    <a href="{{ path('user.test.question' , {'id': question.id}) }}">
                        {{ question.text }}
                    </a>
                </li>
                <ul>
                    <li>
                        <a href="{{ path('user.question.delete', {'id': question.id}) }}">
                            Trinti
                        </a>
                    </li>
                </ul>
            {% endfor %}
        </ol>

        <hr/>
    </div>
    <ol>
        <li {{ thisPage == 1 ? 'class="disabled"' }}>
            <a href="{{ path('user.test', {id: app.request.attributes.get('_route_params')['id'],page: thisPage-1 < 1 ? 1 : thisPage-1}) }}">«</a>
        </li>

        {# Render each page number #}
        {% for i in 1..maxPages %}
            <li {{ thisPage == i ? 'class="active"' }}>
                <a href="{{ path('user.test', {id: app.request.attributes.get('_route_params')['id'],page: i}) }}">{{ i }}</a>
            </li>
        {% endfor %}

        {# `»` arrow #}
        <li {{ thisPage == maxPages ? 'class="disabled"' }}>
            <a href="{{ path('user.test', {id: app.request.attributes.get('_route_params')['id'],page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) }}">»</a>
        </li>
    </ol>

{% endblock %}
